public/ZiggysHouseModel_02.fbx filter=lfs diff=lfs merge=lfs -text
/home/shahroz/Documents/tes_lfs_small/mobile/khan.fbx filter=lfs diff=lfs merge=lfs -text
/home/shahroz/Documents/tes_lfs_small/mobile/shah.fbx filter=lfs diff=lfs merge=lfs -text
/home/shahroz/Documents/tes_lfs_small/.git/lfs/objects/5a/c5/5ac53a6cc570e031266bb836bc07369d72f5d0f46afcd06dbb0e84c6aa03fc91 filter=lfs diff=lfs merge=lfs -text
